* {
    padding:0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; 
}

a {
    color: rgb(244, 244, 245);
    text-decoration: none;
    font-size: 17px;
    margin-left: 40px;
    text-align: center;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

.img_logo {
    height: 20px;
    width: 20px;
    margin-left: 8px;
    transition: background-color 0.3s ease-in-out;
}

.img_logo:hover {
    background-color: #888;
}

nav {
    display: flex;
    background-color: black;
    height: 6vh;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    opacity: 0.8;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background: url('img/Foto_Fluxo.jpg') no-repeat center center fixed; /* Alteração na propriedade background */
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}





.corpo {
    margin-top: 40px;
    position:absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 94vh;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.corpo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.corpo p {
    display: flex;
    justify-content: center;
    color: #aaa;
    margin-bottom: 20px;
}

.corpo form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: aliceblue;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.button {
    text-align: center;
    background-color: black;
    color: aliceblue;
    height: 8vh;
    width: 100%; 
    max-width: 300px; 
    border-radius: 40px;
    border: solid rgb(163, 163, 163) 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    padding-right: 10px;
}

.button .button-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    margin: 20px;
}







.button img {
    margin-right: 10px;
}

.button a {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinha os itens à esquerda */
    flex: 1;
    text-decoration: none;
    color: inherit;
    padding-left: 10px; /* Adicionado para dar algum espaço à esquerda do ícone e do texto */
}



.button:hover {
    background-color: #444;
}

.button-text {
    margin-left: 10px;
    flex-grow: 1; /* Adicionado para garantir que o texto ocupe todo o espaço restante após o ícone */
}

.placeHolder {
    background-color: black;
    color: rgb(255, 255, 255);
    border: solid rgb(163, 163, 163) 1px;
    height: 5vh;
    width: 20vw;
    padding: 10px;
    margin-bottom: 15px;
    transition: border 0.3s ease-in-out;
}

.placeHolder:focus {
    border: solid rgb(100, 100, 100) 2px;
}

label {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 5px;
}

#id {
    background-color: #28a745;
    height: 8vh;
    width: 23vw;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#id:hover {
    background-color: #1e7e34; /* Um tom mais escuro de verde */
}


